.internalNavi {
  right: 0;
  left: 0;
  text-align: center;
}

.content {
  display: flex;
  margin: 20px auto 32px;
  padding: 0 16px;
  //   max-width: 960px;
  flex-direction: column;
  align-items: center;
}
.card {
  svg.material-icons {
    path {
      fill: #888;
    }
  }
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #e7e7e7;

  width: 300px;
  margin: 0 8px 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 0px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  .card {
    &:not(:last-child) {
      margin-right: 0;
    }
    &:not(.highlight-card) {
      cursor: pointer;
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        .material-icons {
          path {
            fill: rgb(105, 103, 103);
          }
        }
      }
    }
  }
}
.card.card-small {
  height: 16px;
  width: 168px;
}
.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}
.card.card.highlight-card {
  span {
    margin-left: 60px;
  }
}
