<!-- <div class="content">
    <div class="card-container">
        <ng-container *ngFor="let photo of photosObj">
            <div class="card" style="width: 18rem;">
                <img src="{{photo.url}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{photo.title}}</h5>
                </div>
            </div>
        </ng-container>
    </div>

</div> -->

<div class="">
    <ng-container>
        <div class="card" style="width: 18rem;">
            <img src="{{photosObj[0].url}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{photosObj[0].title}}</h5>
            </div>
        </div>
        <!-- <div class="card" style="width: 18rem;">
            <img src="{{photosObj[1].url}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{photosObj[1].title}}</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{photosObj[2].url}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{photosObj[2].title}}</h5>
            </div>
        </div> -->
    </ng-container>

</div>