<div class="modal modalPopContainer globalContainerPopup" id="modalPopContainer" *ngIf="isOpen">
    <!-- <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div> -->
    <div class="modal-dialog globalContainerpopup" id="globalModalPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close" (click)="hideModal()">
                </button>
            </div>

            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <app-albums></app-albums>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>